
<div>
<h1>Create Account</h1>
</div>

<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented this account from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render Forms::TextInputComponent.new(form: form, field: :first_name, label: "First Name") %>
  <%= render Forms::TextInputComponent.new(form: form, field: :last_name, label: "Last Name") %>
  <%= render Forms::TextInputComponent.new(form: form, field: :email, label: "Email", field_type: :email_field, placeholder: "your@example.com") %>
  <%= render Forms::TextInputComponent.new(form: form, field: :password, label: "Password", field_type: :password_field) %>
  <%= render Forms::TextInputComponent.new(form: form, field: :password_confirmation, label: "Password Confirmation", field_type: :password_field) %>

  <div class="btn py-2 px-4 rounded hover:bg-apple/90 my-4 text-center">
    <%= form.submit "Create Account" %>
  </div>
<% end %>
