<h1>User Profile</h1>

<p>
  <strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %><br>
  <strong>Email:</strong> <%= @user.email %>
</p>

<h2>Route Subscriptions</h2>
<% if @user.subscribed_routes.any? %>
  <ul>
    <% @user.subscribed_routes.each do |route| %>
      <li>
        <%= route.name %>
        <%= link_to 'Unsubscribe', user_route_subscription_path(@user, route_id: route.id), method: :delete, data: { confirm: 'Are you sure you want to remove this route subscription?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not subscribed to any routes.</p>
<% end %>

<h3>Add a Route Subscription</h3>
<%= form_with url: user_route_subscriptions_path(@user), method: :post, local: true do |form| %>
  <div>
    <%= form.label :route_id, "Route ID" %>
    <%= form.text_field :route_id %>
  </div>
  <div>
    <%= form.submit "Subscribe" %>
  </div>
<% end %>


<h2>Stop Subscriptions</h2>
<% if @user.subscribed_stops.any? %>
  <ul>
    <% @user.subscribed_stops.each do |stop| %>
      <li>
        <%= stop.name %>
        <%= link_to 'Unsubscribe', user_stop_subscription_path(@user, stop_id: stop.id), method: :delete, data: { confirm: 'Are you sure you want to remove this stop subscription?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not subscribed to any stops.</p>
<% end %>

<h3>Add a Stop Subscription</h3>
<%= form_with url: user_stop_subscriptions_path(@user), method: :post, local: true do |form| %>
  <div>
    <%= form.label :stop_id, "Stop ID" %>
    <%= form.text_field :stop_id %>
  </div>
  <div>
    <%= form.submit "Subscribe" %>
  </div>
<% end %>


<hr>

<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
